node_modules/
.next/
dist/
out/
.env
.env.*
.env.local
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
/.idea/
/.vscode/
/.turbo/
*.local
/.pnp\*
prisma/dev.db
/.parcel-cache
/.cache/
build/
/*.tgz
/node_modules
.history/
